@font-face {
    font-family: "lcd";
    src: url('../fonts/lcd.woff2') format(woff2), url('../fonts/lcd.otf') format(opentype);
    // src: url('../fonts/lcd.woff2') format(woff2),
    font-weight: normal;
    font-style: normal;
}