@keyframes body-background {
    0% {
        background-size: 200% 200%;
        background-position: 50% 100%;
    }
    20% {
        background-size: 150% 150%;
        background-position: 25% 75%;
    }
    40% {
        background-size: 200% 150%;
        background-position: 75% 25%;
    }
    60% {
        background-size: 200% 200%;
        background-position: 75% 75%;
    }
    80% {
        background-size: 150% 150%;
        background-position: 50% 50%;
    }
    100% {
        background-size: 200% 200%;
        background-position: 50% 100%;
    }
}