/*Home button animation*/
@keyframes show-home-button {
    0% {
        opacity: 0;
    }
    80% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
/* Body animations */
@keyframes body-background {
    0% {
        background-size: 200% 200%;
        background-position: 50% 100%;
    }
    20% {
        background-size: 150% 150%;
        background-position: 25% 75%;
    }
    40% {
        background-size: 200% 150%;
        background-position: 75% 25%;
    }
    60% {
        background-size: 200% 200%;
        background-position: 75% 75%;
    }
    80% {
        background-size: 150% 150%;
        background-position: 50% 50%;
    }
    100% {
        background-size: 200% 200%;
        background-position: 50% 100%;
    }
}

/* Workshop animations */
@keyframes timer-background {
    0% {
        background-size: 150% 150%;
        background-position: 0% 50%;
    }
    20% {
        background-size: 200% 200%;
        background-position: 50% 75%;
    }
    40% {
        background-size: 200% 200%;
        background-position: 75% 50%;
    }
    60% {
        background-size: 200% 200%;
        background-position: 75% 75%;
    }
    80% {
        background-size: 150% 150%;
        background-position: 50% 75%;
    }
    100% {
        background-size: 150% 150%;
        background-position: 0% 50%;
    }
}

/* Panels animation */

@keyframes showpanelheader {
    0% {
        opacity: 0;
        transform: translateX(100%);
    }
    80% { 
        transform: translateX(-10px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
} 
@keyframes hidepanelitem {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

@keyframes showpanelitem {
    0% {
        opacity:0;
        filter: drop-shadow(0px 50px 50px transparentize($color: #000000, $amount: 1));
        transform: translateY(-100%);
    }
    80% { 
        transform: translateY(5%);
        filter: drop-shadow(0px 50px 50px transparentize($color: #000000, $amount: 0.2));
    }
    100% {
        opacity:1;
        transform: translateY(0);
        filter: drop-shadow(0px 50px 50px transparentize($color: #000000, $amount: 0.3));
    }
}

@keyframes showpaneldot {
    0% {
        opacity: 0;
    }
    90% {
        opacity: 0
    }
    100% {
        opacity: 1;
    }
}

@keyframes showpanelline {
    0% {
        opacity: 0;
        transform: translate(100%, -7px);
    }
    90% {
        opacity: 0;
        transform: translate(100%, -7px);
    }
    100% {
        opacity: 1;
        transform: translate(0, -7px);
    }
}

@keyframes showpaneldescription {
    0% {
        opacity: 0;
        transform: translateX(100%);
    }
    90% {
        opacity: 0;
        transform: translateX(50%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}