@keyframes body-background {
    0% {
        background-size: 200% 200%;
        background-position: 50% 100%;
    }
    20% {
        background-size: 150% 150%;
        background-position: 25% 75%;
    }
    40% {
        background-size: 200% 150%;
        background-position: 75% 25%;
    }
    60% {
        background-size: 200% 200%;
        background-position: 75% 75%;
    }
    80% {
        background-size: 150% 150%;
        background-position: 50% 50%;
    }
    100% {
        background-size: 200% 200%;
        background-position: 50% 100%;
    }
}

@keyframes timer-background {
    0% {
        background-size: 150% 150%;
        background-position: 0% 50%;
    }
    20% {
        background-size: 200% 200%;
        background-position: 50% 75%;
    }
    40% {
        background-size: 200% 200%;
        background-position: 75% 50%;
    }
    60% {
        background-size: 200% 200%;
        background-position: 75% 75%;
    }
    80% {
        background-size: 150% 150%;
        background-position: 50% 75%;
    }
    100% {
        background-size: 150% 150%;
        background-position: 0% 50%;
    }
}

@keyframes showpanel {
    0% {
        opacity:0;
        transform: translateY(-100%);
    }
    80% { 
        transform: translateY(5%);
    }
    100% {
        opacity:1;
        transform: translateY(0);
    }
}