// Mains
.wrapper {
    margin: 0 auto;
    max-width: 1600px;
}
.columns {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: auto;
}
.half-screen {
    flex-basis: 50%;
}

.section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    position: absolute;
    top: -100%;
    left: -100%;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}
.section.active-section {
    position: static;
    top: 0;
    left: 0;
    opacity: 1;
}
.column-content,
.hero-animation {
    display: flex;
    flex-basis: 50%;
}
.hero-animation {
    align-items: flex-start;
}
.superhero-block {
    position: absolute;
    bottom: 0;
    right: calc((100vw - 1600px) / 2);
    width: 45vw;
    opacity: 0;
    transition: opacity 0.3s ease;
    // animation: showpanelheader .5s reverse ease;
    // animation-direction: reverse;
}
.superhero-block.show-hero {
    opacity: 1;
    animation: showpanelheader 1s ease;
    animation-direction: normal;
}
.column-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
}
.column-less-content {
    flex-basis: 40%;
}
.mt-l {
    margin-top: 80px;
}
.row-content {
    display: flex;
    flex-direction: row;
}
.about-tabs-column {
    width: 50%;
}
.hero-content {
    height: 65%;
    flex-direction: column;
    justify-content: flex-start;
}
.cloud-slide-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}
.cloud-animation-object-block {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    .cloud-animation-object {
        width: 80%;
        filter: drop-shadow(0px 0px 50px $blue);
    }
}
.mt-0 {
    margin-top: 0;
}

// Header
.header-block {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    z-index: 20100;
}
.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding-top: 80px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
// Content
    // Section

.team-section {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.team-gallery-slider {
    margin-top: 45px;
}
    // Lists 
.header-nav__list {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
}

.header-nav__item {
    display: flex;
}
.header-nav__item:not(:first-child) {
    margin-left: 20px;
}
.about-progress-info {
    display: flex;
    justify-content: space-between;
}

.about-progress-info-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-basis: 30%;
    position: relative;

    &:not(:first-child) {
        margin-left: 20px;
    }
}
.about-progress-info-item:first-child {
    &:after {
        content: '';
        position: absolute;
        left: 50%;
        top: 100px;
        width: 33vw;
        margin: 0 auto;
        height: 5px;
        background-color: $blue;
        box-shadow: 0px 0px 15px $blue;
    }
}
.about-progress-info-item:last-child { 
    &:before {
        content: '';
        position: absolute;
        right: 50%;
        top: 100px;
        width: 33vw;
        margin: 0 auto;
        height: 5px;
        background-color: $blue;
        box-shadow: 0px 0px 15px $blue;
    }
}
.small-info-header {
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 30px;
    text-align: center;
}
.progress-info-circle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 55px;
    height: 55px;
    background-color: $blue;
    border-radius: 50%;
    box-shadow: 0px 0px 15px $blue;
    position: relative;
    margin-bottom: 55px;
    z-index: 2;
}
.progress-info-circle:after {
    content: '';
    position: absolute;
    width: 35px;
    height: 35px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: $light;
    border-radius: 50%;
    box-shadow: 0px 0px 15px $light;
}
.progress-info-text {
    text-align: left;
    font-size: 20px;
}

    // Links
.logo__link {
    display: flex;
    transition: filter 0.3s ease;

    &:hover {
        filter: drop-shadow(0px 0px 15px $blue);

        .logo-image {
            fill: $blue;
        }
    }
}
.disabled {
    cursor: not-allowed;
}
.header-nav__link.disabled {
    color: transparentize($color: $light, $amount: 0.5);
    pointer-events: none;
}
.header-nav__sublist {
    display: flex;
    flex-direction: column;
    width: max-content;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    background: transparentize($color: $blue, $amount: 0.7);
    border-radius: 10px;
    position: absolute;
    left: 0;
    top: 100%;
    border: 1px solid $light;
    padding: 10px;
    .header-nav__subitem {
        display: inline-block;
        width: 100%;
        padding: 10px 0px;
        overflow: hidden;
    }
}
.header-nav__link,
.active-link,
.drop-item {
    padding: 2px 0px;
    transition: all 0.3s ease;
    position: relative;
    overflow: hidden;
    font-size: 20px;
    font-weight: 600;
    user-select: none;
}

.drop-item {
    display: flex;
    position: relative;
    overflow: visible;
    height: 30px;
    cursor: pointer;
    
    &:hover {
        .header-nav__sublist {
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
        }
    }
    &:last-child .header-nav__sublist {
        right: 0;
        left: auto;
    }
}
.header-nav__link:before,
.active-link:before {
    content: '';
    width: 100%;
    height: 1px;
    position: absolute;
    bottom: 2px;
    left: 0;
    transform: translateX(-120%);
    opacity: 0;
    background-color: $light;
    transition: all 0.3s ease, opacity 0s linear;
}
.header-nav__link:hover,
.header-nav__link.active-section-link,
.active-link:hover {
    text-shadow: 0px 0px 1px $light;
}
.header-nav__link:hover.header-nav__link:before,
.header-nav__link.active-section-link.header-nav__link:before,
.active-link:hover.active-link:before {
    transform: translateX(0);
    opacity: 1;
}
    // Buttons
.button {
    display: block;
    justify-content: center;
    flex-grow: 0;
    flex-shrink: 0;
    max-width: 350px;
    border-radius: 25px;
    padding: 10px 30px;
    text-align: center;
    line-height: 1;
    text-transform: uppercase;
    font-size: 20px;
    border: 1px solid $blue;
    transition: all 0.3s ease;
}
.button:hover {
    background-color: $light;
    color: $blue;
}
.hero-button {
    min-width: 200px;
}
.pink-button {
    padding: 8px 25px;
    font-weight: 600;
    border: 1px solid $pink;
}
.pink-button:after {
    display: none;
}
.pink-button:hover {
    background-color: $light;
    color: $pink;
}
.big-button {
    max-width: 500px;
}
.free-button {
    max-width: none;
}
.button-margin {
    margin-top: 50px;
}
    // Images
.plug-image {
    width: 100%;
    object-fit: contain;
}

.logo-image {
    width: 195px;
    height: 105px;
    pointer-events: none;
}
.images-svg-doc {
    display: none;
    width: auto;
}
.partners-slide__image-container {
    display: inline-flex;
    flex-grow: 0;
    justify-content: center;
    align-items: center;
    width: 100%;
    transition: all 0.3s ease;
}
.partners-slide__image {
    fill: $light;
    height: 50px;
    width: 150px;
    object-fit: contain;
}
.info-with-pic {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-basis: 350px;
    flex-grow: 0;
    flex-shrink: 1;
    margin: 45px 0;
}
.info-pic {
    fill: $light;
    stroke: $light;
    stroke-width: 2;
    height: 135px;
    width: 135px;
    filter: drop-shadow(0px 0px 4px transparentize($color: $light, $amount: 0.5));
    margin-bottom: 15px;
}
.info-pic.tight-pic {
    width: 90px;
}
.info-pic use {
    filter: drop-shadow(0px 0px 5px  $light);
}
    // Video
.videoplayer-wrapper {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
}
.video-player {
    border-radius: 30px;
    overflow: hidden;
    box-shadow: 0px 0px 50px $blue;
    width: 930px;
    height: 520px;
}
.video-plug {
    width: 840px;
}
.video-player .plyr {
    .plyr__video-wrapper.plyr__video-embed iframe {
        background-color: $light;
        background: $light;
    }
    .plyr__video-embed {
        height: 100%;
        padding-bottom: 0;
    }
    .plyr__poster {
        background-size: cover;
    }
    button.plyr__control {
        color: $blue;
        border-radius: 50%;
        &:hover {
            background: $blue !important;
            color: $light;
        }
    }
    button.plyr__control--overlaid {
        display: flex;
        justify-content: center;
        align-items: center;
        background: transparent;
        background-color: transparent;
        border: 2px solid $light;
        width: clamp(100px, 150px, 200px);
        height: clamp(100px, 150px, 200px);

        svg {
            height: 50%;
            width: 100%;
            fill: $light;
            transition: 0.3s 
        }
        &:hover {
            background: transparent;
            border: 2px solid $blue;

            svg {
                fill: $blue;
            }
        }
    }
    .plyr__controls {
        .plyr--full-ui.plyr--video input[type=range]::-webkit-slider-runnable-track {
            background-color: transparentize($color: $light, $amount: 0.5);
            background: transparent;
        }
        .plyr__progress input[type=range],
        .plyr__volume input[type=range] {
            color: $blue;
        }
    }
}
    // Headers
.bottom-logo-slider-title {
    font-size: 18px;
    font-weight: 400;
}
    // Text
.main-title {
    font-size: 50px;
    font-weight: 600;
    line-height: 1.25;
    text-transform: uppercase;
    padding: 0;
    margin-bottom: 45px;
    width: 100%;
}
.hero-title {
    font-size: 80px;
    margin-bottom: 80px;

    .blue-text {
        font-size: 125%;
        font-weight: 700;
    }
}
.unuppercase {
    text-transform: unset;
}
.text-bold {
    font-weight: 600;
}
.section-title,
.block-text {
    display: block;
}
.text {
    font-size: 18px;
    font-weight: 400;
}
.multiple-text .text:not(:first-child) {
    margin-top: 25px;
}
.hero-text {
    line-height: 1.9;
    width: 80%;
    font-size: 22px;
}
.bold-text {
    font-weight: 700;
}
.big-text {
    font-size: 22px;
}
.medium-text {
    line-height: 1.5;
    text-shadow: 0px 0px 0px $light;
}
.medium-size {
    font-size: 26px;
    line-height: 1.5;
}
.medium-height {
    line-height: 1.5;
}
.info-text {
    line-height: 1.85;
}
.subtitle {
    margin-bottom: 35px;
}
.dynamic-statistic-item:not(:first-child) {
    margin-top: 35px;
}
.dynamic-statistic-number {
    display: flex;
    flex-basis: 155px;
    justify-content: flex-end;
    font-size: 72px;
    text-shadow: 0px 0px 10px $light;
}
.dynamic-statistic-text {
    flex-basis: 280px;
    margin-left: 15px;
}

    // Sliders
.bottom-logo-slider {
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
}
.bottom-logo-slider-mask {
    mask-image: linear-gradient(90deg, transparent, #000 40%, #000 60%, transparent);
}  
.about-slider.slider {
    height: auto;
}
.aliance-section {
    bottom: 80px;
}
.aliance-slider.bottom-logo-slider-mask {
    width: 85%;
}
.aliance-slider .partners-slide__image-container {
    &:hover {
        filter: drop-shadow(0px 0px 5px $blue);
    }
}
.partners-slider-wrapper {
    transition-timing-function: linear !important;
}    
.partners-slide {
    display: inline-flex;
    width: auto;
}
.swiper-scrollbar-drag {
    cursor: move;
    cursor: grab;

    &:active {
        cursor: grabbing;
    }
}
.slider {
    height: 100%;
}
.slider .default-slider-scrollbar {
    background-color: $light;
    border-radius: 1px;
    height: 4px;
    box-shadow: 0px 0px 15px transparentize($color: $light, $amount: 0.75);
    width: 55%;
    left: 50%;
    bottom: 35px;
    transform: translateX(-50%);
}
.slider .default-slider-scrollbar .swiper-scrollbar-drag {
    height: 16px;
    background-color: $blue;
    border-radius: 2px;
    box-shadow: 0px 0px 15px $blue;
    top: -150%;
}
.swiper-scrollbar.default-slider-scrollbar {
    display: none;
}
.swiper-wrapper {
    align-items: center;
}
.cloud-slide {
    display: flex;
    flex-direction: column;
}
.cloud-slide-content {
    margin-top: 80px;
}

.gallery-slide {
    display: flex;
    flex-direction: column;
    position: relative;
    height: clamp(450px, 500px, 510px);
    width: clamp(280px, 340px, 350px);
    justify-content: flex-end;
    align-items: center;
    box-shadow: 0px 0px 75px transparentize($color: $light, $amount: 0.75);
    background: linear-gradient(180deg, $blue, $darkblue);
    transition: all 0.5s ease;
    overflow: hidden;
}
.gallery-parallax {
    overflow-x: auto;
    overflow-y: hidden;
    perspective: 1px;
}
.gallery-parallax-back {
    transform: translateZ(-1px) scale(2);
}
.gallery-parallax-base {
    transform: translateZ(0);
}
.gallery-slide .gallery-image {
    object-fit: contain;
    display: block;
    height: 100%;
    width: auto;
}
.gallery-slide-info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    background: linear-gradient(180deg, transparent, transparentize($color: $galleryblue, $amount: 0.5), $galleryblue);
    padding: 120px 20px 20px;
    transform: translateY(55%);
    transition: all 0.5s ease;
}
.gallery-slide:hover {
    box-shadow: 0px 0px 75px transparentize($color: $light, $amount: 0.2);

    .gallery-slide-info {
        background: linear-gradient(180deg, transparent, transparentize($color: $galleryblue, $amount: 0.25), $galleryblue);
        transform: translateY(0);
    }
    .gallery-slide-title,
    .gallery-slide-subtitle {
        color: $light;
    }
}
.gallery-slide-title {
    font-size: 32px;
    min-height: 80px;
    line-height: 1;
    color: $galleryblue;
    transition: color 0.5s ease
}
.gallery-slide-subtitle {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
    min-height: 40px;
    color: $galleryblue;
    transition: color 0.5s ease
}

.card-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-basis: 385px;
    padding: 40px;
    border-radius: 20px;
    border: 3px solid $light;
    background: linear-gradient(0deg, transparent -30%, transparentize($color: $blue, $amount: 0.3));
    box-shadow: 0px 0px 15px 10px $blue;
    &:not(:first-child) {
        margin-left: 100px;
    }

    .card-header {
        font-size: 30px;
        font-weight: 700;
        text-align: center;
        text-transform: uppercase;
        margin-bottom: 30px;

        &.unuppercase {
            text-transform: unset;
        }
    }
    .card-price {
        width: 100%;
        padding: 10px 0;
        background-color: $light;
        border-radius: 10px;
        text-align: center;
        text-transform: uppercase;
        color: $blue;
        font-size: 30px;
        font-weight: 700;
        margin-bottom: 30px;
    }
    .text {
        text-align: center;
        font-size: 14px;
    }
    .multiple-text .text:not(:first-child) {
        margin-top: 15px;
    }
    .button {
        padding: 10px 30px;
        margin-top: auto;
    }

    & .text-bold {
        font-weight: 600;
        margin-bottom: 15px;
        margin-top: auto;
    }
}
.join-section .card-item {
    height: clamp(450px, 550px, 600px);
}
.join-section .card-item .button {
    margin-top: 0;
}
.scheme-image-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 135px;
}
.scheme-title {
    font-size: 20px;
}
.scheme-blue-title {
    font-size: 20px;
    padding: 15px;
    border-radius: 15px;
    background-color: $blue;
    box-shadow: 0px 0px 25px $blue;
    min-width: 85px;
    text-align: center;
    margin: 0px 10px;
}
.scheme-image {
    width: 65px;
    height: 65px;
}
.scheme-big-image {
    width: 95px;
}
.dashed {
    border-radius: 15px;
    border: 2px dashed $blue;
}
.scheme-background {
    background-color: transparentize($color: $light, $amount: 0.8);
}
.scheme-padding {
    padding: 35px;
}
.scheme-padding-small {
    padding: 20px 25px;
}
.scheme-padding-small-right {
    padding: 25px 25px 25px 0px;
}
.scheme-padding-small-left {
    padding: 25px 0px 25px 25px;
}
.study-scheme-block {
    height: clamp(400px, 450px, 500px);
    pointer-events: none;
}
.study-scheme-block .column-content {
    justify-content: space-evenly;
}
.study-scheme-block .big-scheme {
    position: relative;
}
.study-scheme-block .scheme-image-block {
    text-align: center;
}
.big-scheme {
    .service-stack-block {
        position: absolute;
        top: 0;
        right: 0;
        transform: translate(-25%, -50%);
    }
    .sql-database-block {
        position: absolute;
        left: 50%;
        bottom: 0;
        transform: translate(-200%, 75%);
    }
    .container-registry-block {
        position: absolute;
        right: 50%;
        bottom: 0;
        transform: translate(200%, 75%);
    }

}

.workshop-timer {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: clamp(200px, 320px, 350px);
    padding: 35px;
    background-color: transparentize($color: $blue, $amount: 0.5);
    background: url('../images/workshop-timer-background.png');
    background-size: 150% 150%;
    background-position: 0% 50%;
    background-repeat: no-repeat;
    border-radius: 25px;
    border: 3px solid $light;
    box-shadow: 0px 0px 50px 0px $blue;

    .workshop-timer-header {
        font-size: 32px;
        font-weight: 600;
    }
    .workshop-timer-time {
        display: flex;
        width: 100%;
        justify-content: space-evenly;

        .workshop-timer-time-units {
            display: flex;
            flex-direction: column;
            align-items: center;

            .time-number {
                font-family: "lcd", sans-serif;
                font-size: 120px;
                position: relative;

                &:before {
                    content: '88';
                    position: absolute;
                    color: transparentize($color: $light, $amount: 1);
                    top: 0;
                    left: 0;
                }
            }
            .time-subtitle {
                font-size: 18px;
                text-transform: uppercase;
            }
        }
    }
}

.about-tabs-pagination {
    display: flex;
    justify-content: space-evenly;
    margin: 80px 0px 60px 0px;
    position: relative;
}
.about-tabs-logo {
    cursor: pointer;
    &:hover {

        .partners-slide__image{
            filter: drop-shadow(0px 0px 5px $blue);
        }
    }
}
.about-tabs-logo .partners-slide__image {
    height: 70px;
    pointer-events: none;
    transition: all 0.3s ease;
}
.about-tabs-logo.active .partners-slide__image{
    filter: drop-shadow(0px 0px 5px $blue);
}
.about-tabs {
    overflow: hidden;
    position: relative;

    .gallery-slide-subtitle {
        margin-bottom: 0;
        height: auto;
    }
}
.about-tabs .swiper-slide {
    opacity: 0;
    transition: opacity 0s ease;
}
.about-tabs .swiper-slide-active {
    opacity: 1;
    transition: opacity 0.5s ease;
}
.about-tabs .tabs-slider-scrollbar {
    left: 0;
    top: 50px;
    height: 1px;
    width: 95%;
    transform: translateX(0);
    
    & .swiper-scrollbar-drag {
        height: 4px;
        border-radius: 0;
        top: -150%;
        transition: all 0.5s ease !important;
    }
}

.default-slider-navigation {
    display: flex;
    justify-content: space-between;
    position: absolute;
    width: 170px;
    right: 8%;
    bottom: 7%;
    z-index: 10;
}
.nav-arrow {
    fill: $light;
    width: 22px;
    height: 36px;
    transition: all 0.3s ease;
}
.default-slider-prev,
.default-slider-next {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    padding: 30px 20px;
    width: 85px;
    height: 85px;
    transition: all 0.3s ease;
    cursor: pointer;
}
.default-slider-navigation .default-slider-next {
    background-color: $blue;
}
.arrow-left {
    transform: rotate(180deg);
}
.default-slider-prev:hover .nav-arrow,
.default-slider-next:hover .nav-arrow,
.default-slider-prev:hover,
.default-slider-next:hover {
    filter: drop-shadow(0px 0px 10px transparentize($color: $light, $amount: 0.5));
}
    // Nets canvas
.background-nets {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    position: absolute;
    pointer-events: none;
    width: 100%;
    height: 100%;
    right: 0;
    bottom: 0;
    z-index: -1;
    overflow: hidden;
}
.background-nets .vanta-canvas {
    display: flex;
    flex-grow: 0;
    position: absolute;
    left: auto !important;
    right: 0;
    z-index: -1;
    transform: translateX(20%);
    filter: invert(23%) sepia(78%) saturate(2038%) hue-rotate(196deg) brightness(92%) contrast(102%);
    mask-image: radial-gradient(ellipse at bottom, #000000 25%, transparent 55%);
}

// Justify&align + sizes
.justify-start {
    justify-content: flex-start;
}
.justify-center {
    justify-content: center;
}
.justify-end {
    justify-content: flex-end;
}
.justify-evenly {
    justify-content: space-evenly;
}
.justify-between {
    justify-content: space-between;
}
.align-start {
    align-items: flex-start;
}
.align-center {
    align-items: center;
}
.align-end {
    align-items: flex-end;
}
.align-evenly {
    align-items: space-evenly;
}
.align-between {
    align-items: space-between;
}
.align-self-center {
    align-self: center;
}
.auto-height {
    height: auto;
}
.h-100 {
    height: 100%;
}
.h-75 {
    height: 75%;
}
.h-50 {
    height: 50%;
}
.basis-55 {
    flex-basis: 55%;
}
.shrink-0 {
    flex-shrink: 0;
}
.hidden {
    visibility: hidden;
    pointer-events: none;
    user-select: none;
}

    // Contact form
.contact-form-block {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 50px 60px;
    border-radius: 25px;
    background-color: transparentize($color: $light, $amount: 0.1);
    box-shadow: 0px 0px 50px 0px $light;

    .form-title {
        color: $blue;
    }
    .contact-form {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: stretch;
        width: 100%;
        height: 100%;
    }
}
.form-item {
    display: flex;
    margin-bottom: 25px;
}
.form-label {
    width: 100%;
    position: relative;
}
.form-input {
    width: 100%;
    background-color: transparent;
    padding: 5px 0px 10px;
    border-bottom: 1px solid $dark;
    color: $dark;

    &::placeholder {
        visibility: hidden;
    }
}
.form-placeholder {
    font-size: 20px;
    color: $dark;
    position: absolute;
    left: 0;
    transition: all 0.3s ease;
}
.form-button {
    color: $light;
    max-width: 150px;
}
.form-input:not(:placeholder-shown) + .form-placeholder {
    transform: translateY(-20px) scale(0.75);

}
.form-input:focus + .form-placeholder {
    transform: translateY(-20px) scale(0.75);
}


    // Panels
.bootcamp-section .panels-section {
    opacity: 0;
    transition: opacity 0.3s ease;
    flex-basis: 55%;
}
.bootcamp-section.active-section .swiper-slide.swiper-slide-active {
    .panel-block,
    .panels-section,
    .panel-description {
        display: flex;
        visibility: visible;
        opacity: 1;
        transition: opacity 0.3s ease;
    }
    .panel-square:before,
    .panel-square:after {
        display: block;
    }
    .panel-header {
        animation: showpanelheader 1s ease;
        visibility: visible;
    }
}
.bootcamp-section.active-section .swiper-slide .panel-block {
    position: relative;
    display: flex;
    opacity: 0;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    transition: opacity 0.3s ease;
}
.panel-header {
    font-size: 26px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 30px;
    visibility: hidden;
}
.panels-item-block {
    display: flex;
    flex-direction: column-reverse;

}
.panel-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    opacity: 1;

    &.subactive-panel .panel-item-name {
        opacity: 0;
        visibility: hidden;
    }
}

.panel-item:nth-child(1) .panel-object {
    z-index: 25;
}
.panel-item:nth-child(2) .panel-object {
    z-index: 24;
}
.panel-item:nth-child(3) .panel-object {
    z-index: 23;
}
.panel-item:nth-child(4) .panel-object {
    z-index: 22;
}
/* example */
.panel-item:nth-child(5) .panel-object {
    z-index: 21;
}
.panel-object {
    width: clamp(280px, 385px, 385px);
    height: clamp(180px, 240px, 240px);
    position: absolute;
    filter: drop-shadow(0px 50px 50px transparentize($color: #000000, $amount: 0.3));
}
.panel-square {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 100%;
    flex-basis: 40%;
    flex-shrink: 0;
    flex-grow: 0;

    &:before {
        content: '';
        position: absolute;
        display: none;
        top: 50%;
        right: 5px;
        background-color: $light;
        border-radius: 50%;
        height: 14px;
        width: 14px;
        z-index: 50;
        transform: translateY(-100%);
    }
    &:after {
        content: '';
        display: none;
        position: absolute;
        top: 50%;
        right: -95px;
        background-color: $light;
        height: 1px;
        width: 100px;
        z-index: 50;
        transform: translateY(-7px);
        animation-delay: 0.5s;
    }
}
.panel-item-name {
    font-size: 32px;
    font-weight: 600;
    z-index: 40;
    text-align: center;
}
.panel-description {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-basis: 45%;
    opacity: 0;
    transition: opacity 0.3s ease;
    
    .partners-slide__image {
        height: 60px;
        width: 60px;
        min-width: 60px;
        max-width: 60px;
        flex-basis: 50%;
        object-fit: contain;
        margin-right: 15px;
        transition: filter 0.3s ease;
        
    }
    &:hover .partners-slide__image {
        filter: drop-shadow(0px 0px 5px $blue);
    }

    .panel-text {
        font-size: 22px;

        .panel-text-header {
            font-weight: 600;
        }
    }
}
.hero-section .button-margin {
    margin-top: 90px;
}
.hero-section .plug-image {
    filter: drop-shadow(0px 0px 75px $blue);
}
.bootcamp-section .hero-animation {
    position: relative;
}
.bootcamp-section .plug-image {
    display: block;
    width: 100%;
    filter: drop-shadow(0 0 50px #009fe9);
    object-fit: contain;
    margin-top: 0;
}
.swiper-slide {
    justify-content: center;
}
input:focus {
    outline: none;
}

//Burger-menu
.burger-button {
    display: none;
}