// Mains
.body {
    // common
    // background: radial-gradient(ellipse at top, #005190 5% ,#001029 85%);
    background: radial-gradient(ellipse at 50% 50%,#005190 5% ,#001029 85%);
    background-size: 200% 200%;
    background-position: 50% 100%;
    background-repeat: no-repeat;
    animation: body-background 100s infinite;
}
// Buttons
.button {
    background-color: $blue;
}
.pink-button {
    background-color: $pink;
}
// Links

.active-link {
    background-color: $pink;
}

// Images 
.logo-image {
    fill: $light;
}
.blue-text {
    color: $blue;
}