/* Wrapper at 1920 width resolution */
$wrapper: 1600px;

$light: #ffffff;
$pink: #fe018a;
$blue: #009fe9;
$darkblue: #000846;
$galleryblue: #004073;
$dark: #2E313B;

$panelorange: #D65616;
$panelpink: #A0287C;
$panelpurple: #4A34B9;
$panelblue: #1C85BF;



